<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header style="width: 100%; display: block; height: 50px; border: 1px solid blue;">
  	<div style="float: right; color: blue;">
    
      <%= link_to "Posts", posts_path %>
      <% if signed_in? %>
        <%= current_user.name %>
        <%= link_to "Sign out", signout_path, method: "delete" %>
        <%= link_to "Create new post", new_post_path %>
      <% else %>
        <%= link_to "Sign in",  signin_path  %>
        <%= link_to "Sign up",  signup_path  %>
      <% end %>
  	</div>
  </header>
    <%= yield %>
  </body>
</html>
